{% extends "layout.html" %}

{% block content %}
<h2>Uploaded Images</h2>
<ul>
    {% for image in images %}
        <li>
            <a href="{{ url_for('view_image', image_id=image['id']) }}">
                <img src="{{ url_for('get_image', image_id=image['id']) }}" alt="{{ image['image_name'] }}" style="max-width: 200px;">
            </a>
            <form action="{{ url_for('delete_image', image_id=image['id']) }}" method="POST" style="display:inline;">
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('index') }}">Upload More</a>
{% endblock %}
